# Python
__pycache__/
*.py[cod]
*$py.class

#Environnements virtuels
venv/
.venv/
env/

# Variables d'environnement
.env
.env.*

# Base de données locales
*.sqlite3
*.db

# Système d'exploitation
.DS_Store
Thumbs.db

#logs
*.log

# Documentation personnelle
PROJECT_ANALYSIS.md